<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <!-- Check if there are no orders -->
            <% if (orders.length <= 0) { %>
                <!-- Display a message indicating that there are no orders -->
                <h1>Nothing there!</h1>
            <% } else { %>
                <!-- Create an unordered list to display the orders -->
                <ul class="orders">
                    <!-- Iterate over each order -->
                    <% orders.forEach(order => { %>
                        <!-- Create a list item for each order -->
                        <li class="orders__item">
                            <!-- Display the order ID and a link to the invoice page -->
                            <h1>Order - # <%= order._id %> - <a href="/orders/<%= order._id %>">Invoice</a></h1>
                            <!-- Create an unordered list to display the products within the order -->
                            <ul class="orders__products">
                                <% order.products.forEach(p => { %>
                                    <!-- Display the product title and quantity -->
                                    <li class="orders__products-item"><%= p.product.title %> (<%= p.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>